<%= form_for(@newPost) do |f| %>
  <div class="field">
    <%= f.label :content, "The fleet is mightier than the sword ..." %>
  </div>
  <div class="field">
    <%= f.text_field :content, autofocus: true %>
  </div>
  <div class="actions">
    <%= f.submit "Add Fleet" %>
  </div>
<% end %>
